<!doctype html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="./style.css">
</head>
<body>
  <div class="libe-insta-slide">
    <div class="libe-insta-slide__background-images" data-property="backgroundImages"></div>

    <div class="libe-insta-slide__safe-zone">
      <!-- Cover display -->
      <div class="libe-insta-slide__cover-display">
        <div class="libe-insta-slide__icon-title" data-property="title"></div>
        <div class="libe-insta-slide__text-panel_big" data-property="text"></div>
      </div>
      <!-- Image and text display -->
      <div class="libe-insta-slide__image-and-text-display">
        <div class="libe-insta-slide__image" data-property="image"></div>
        <div class="libe-insta-slide__label-title" data-property="title"></div>
        <div class="libe-insta-slide__paragraph" data-property="text"></div>
      </div>
      <!-- Background image display -->
      <div class="libe-insta-slide__bg-image-display">
      </div>
      <!-- Quote on background image display -->
      <div class="libe-insta-slide__quote-on-bg-image-display">
        <div class="libe-insta-slide__quote" data-property="title"></div>
        <div class="libe-insta-slide__quote-author" data-property="text"></div>
      </div>
      <!-- Text on background image display -->
      <div class="libe-insta-slide__text-on-bg-image-display">
        <div class="libe-insta-slide__text-panel" data-property="text"></div>
      </div>
    </div>
    <div class="libe-insta-slide__icon-signature">
      <img src="./assets/libe-icon.png">
    </div>
  </div>
</body>
