html, body { padding: 0; margin: 0; }
* { box-sizing: border-box; }

.libe-insta-slide {
  position: relative;
  width: 1080px;
  height: 1920px;
  background: white;
}

.libe-insta-slide__background-images {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
}

.libe-insta-slide__background-image {
  width: 100%;
  height: 100%;
  flex-shrink: 1;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.libe-insta-slide__icon-signature {
  position: absolute;
  transform: translate(-50% -50%);
  top: 50%;
  left: 50%;
  width: 500px;
}

.libe-insta-slide__icon-signature img {
  width: 100%;
  height: auto;
}

.libe-insta-slide > * {
  display: none;
}

.libe-insta-slide > .libe-insta-slide__icon-signature {
  display: block;
}

/* States */

.libe-insta-slide__cover-display,
.libe-insta-slide__image-and-text-display,
.libe-insta-slide__bg-image-display,
.libe-insta-slide__quote-on-bg-image-display,
.libe-insta-slide__text-on-bg-image-display {
  display: none;
}

.libe-insta-slide.libe-insta-slide_cover-display
  .libe-insta-slide__cover-display {
    display: block;
}

.libe-insta-slide.libe-insta-slide_image-and-text-display
  .libe-insta-slide__background-images {
    display: none;
  }
  .libe-insta-slide__image-and-text-display {
    display: block;
}

.libe-insta-slide.libe-insta-slide_bg-image-display
  .libe-insta-slide__bg-image-display {
    display: block;
}

.libe-insta-slide.libe-insta-slide_quote-on-bg-image-display
  .libe-insta-slide__quote-on-bg-image-display {
    display: block;
}

.libe-insta-slide.libe-insta-slide_text-on-bg-image-display
  .libe-insta-slide__text-on-bg-image-display {
    display: block;
}

